<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Sudoku Plus Validator{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <style>
      tr:first-child td {
        border-top-color: gray;
      }
      tr:nth-child({{ sectionSide }}n) td {
        border-bottom-color: gray;
      }
      td {
        border: 1px solid lightgrey;
      }
      td:first-child {
        border-left-color: gray;
      }
      td:nth-child({{ sectionSide }}n) {
        border-right-color: gray;
      }
    </style>
  </head>
  <body>
    {{ form_start(form) }}
    <div class="container-fluid min-vh-100 modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
      <div class="container w-25">
        {% if result == '1' %}
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">Valid.</div>
        {% elseif result == '0' %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">Invalid.</div>
        {% endif %}
      </div>
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5">Sudoku Plus Validator</h1>
          </div>
          <div class="modal-body py-0">
            {{ form_row(form.sudoku) }}
          </div>
          <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pt-3 border-top-0 text-center">
            {{ form_row(form.check) }}
          </div>
        </div>
      </div>
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5">Sudoku Plus Results</h1>
          </div>
          <div class="modal-body py-0">
            <table class="table table-sm text-center my-3">
              <tbody>
                {% for rowKey, row in grid %}
                  <tr>
                  {% for colKey, cell in row %}
                    <td {% if invalidCells[rowKey] is defined and invalidCells[rowKey][colKey] is defined %}class="table-danger"{% endif %}>{{ cell }}</td>
                  {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
  </body>
</html>
